* {
    font-family: 'Libre Baskerville', Georgia, serif;
}

/* change color of navbar */
nav {
    background-color: #132B45;
}

/* splash area */
.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    filter: brightness(60%)

}

.overlay {
    position: absolute;
    top: 40%;
    width: 100%;
}

.hero-hed {
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
    margin: 0 auto;
}

.hero-sub {
    font-size: 1.20em;
    padding-left: 200px;
    padding-right: 200px;
}

.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

/* main container */
.container {
    padding: 10px 100px 10px 100px;
}

/* style text */
.byline {
    font-size: 1em;
    letter-spacing: 0.05em;
    font-style: italic;
}

.chapter {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

p {
    line-height: 200%;
    font-size: 1em;
    padding-top: 5px;
}

/* style img, gfx */
figure {
    color: grey;
    padding: 10px 0px 10px 0px;
}

figcaption {
    padding-top: 10px;
    font-size: 0.75em;
}

/* style pull quote */
.quote {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #3181AF;
    border-bottom: 3px solid #3181AF;
    margin: 50px;
    letter-spacing: 0.05em;
}

.quote-attrb {
    font-size: 0.5em;
    font-weight: 400;
}

/* style footer */
footer {
    background-color: #132B45;
    padding: 10px 5px 5px 5px;
}

footer p {
    text-align: center;
    color:lightslategray;
}

/* media queries */
@media (max-width: 800px) {
    .hero-hed {
        font-size: 1.5em;
    }

    .hero-sub {
        font-size: 0.5em;
        padding-left: 50px;
        padding-right: 50px;
    }

    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .byline {
        font-size: 0.8em;
    }

    .chapter {
        font-size: 1.5em;
        letter-spacing: 0.15em;
    }

    p {
        font-size: 0.8em;
    }

    .quote {
        font-size: 1.25em;
        margin: 40px;
    }

}
