/* overall style */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

/* name */
h1 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
}

/* title */
strong {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #33485e;
}

/* section titles */
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
}

/* job titles */
h3 {
    font-weight: 600;
    font-size: 1.5em;
}

/* job org */
h4 {
    font-size: 1em;
}

/* list items */
li {
    font-size: 1em;
}