/* overall style */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;

}

/* name */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* title */
strong {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #33485e;
}

/* section titles */
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
}

/* job titles */
h3 {
    font-weight: 600;
    font-size: 1.5em;
}

/* job org */
h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}

/* list items */
li {
    font-size: 1em;
}

.menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* turn contact links into nav menu */
.menu li {
    display: inline;
}