/* overall style */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;

}

/* id name */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* title */
#title {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #33485e;
    font-weight: 600;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

/* class section header */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    margin: 20px 0px 10px 0px;
    width: 70%;
    min-width: 300px;
}

/* class job title */
.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

/* class job org */
.organization {
    font-size: 1.25em;
    font-weight: 400;
}

/* class job date */
.date {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    margin: 2px 0px 0px 0px;
}

/* class job description */
.description {
    margin: 10px 0px 10px 0px;
}

/* list items */
li {
    font-size: 1em;
}

/* class for contact links*/
.menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* turn contact links into nav menu */
.menu li {
    display: inline;
}

/* education */
#degrees {
    margin: 5px 0px 0px 0px;
}

/* skills */
#do {
    margin: 5px 0px 0px 0px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}