/* style masthead */
#masthead {
    background-color: #003557;
    text-align: center;
    margin: 10px;
}

/* page wrapper */
#content {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 10px;
}

/* style headline */
h1 {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-size: 2em;
    font-weight: 700;
}

/* style subheading */
h2 {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #003557;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

/* style byline */
#byline {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-size: 0.75em;
    color: grey;
}

/* style body text */
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.25;
}

/* style pictures */
figure {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

figcaption {
    color: grey;
    font-size: 12px;
}

/* style pull quote */
blockquote {
    width: 500px;
    text-align: center;
    font-family: 'Libre Baskerville', Georgia, serif;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.25em;
    background-color: #003557;
    color: white;
}

#quote {
    width: 500px;
    text-align: right;
    font-family: 'Libre Baskerville', Georgia, serif;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* style reading links */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
}

a:link {
    color: #003557;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: darkgrey;
}